html {
  background: #000;
  color: white;
  font-family: 'Cormorant Garamond', serif;
  line-height: 1.3rem;
  font-size: 15px;
}

html::after {
  content: "";
  background-image: url('./examples/B7.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

p {
  font-weight: 300;
}

h1 {
  text-align: center;
  letter-spacing: 0.05rem;
  padding: 20px 0;
}

.container {
  width: 750px;
  margin: 0 auto;
}

.description {
  text-align: justify;
}

.description p {
  margin-bottom: 15px;
}

.source, .transformer, .destination {
  margin-top: 20px;
  display: inline-block;
  vertical-align: top;
}

.source .menu {
  display: flex;
  display: -webkit-flex;
}
.source .menu-button {
  padding-top: 1px;
  cursor: pointer;
  margin-right: 13px;
}

.source .menu .eraser {
  margin-right: auto;
}

.source .menu .random {
  margin-right: 0;
}

.source .canvas {
  cursor: crosshair;
}

.source .random {
  text-align: right;
}

.source .input-on {
  color: #666;
}

.transformer {
  position: relative;
  width: 220px;
}

.transformer .line {
  position: absolute;
  top: 122px;
  width: 220px;
  background: #ccc;
  height: 1px;
  z-index: -999;
}

.transformer button {
  display: block;
  margin: 0 auto;
  width: 120px;
  margin-top: 105px;
  z-index: 999;
  height: 36px;
  cursor: pointer;
  font-family: 'Cormorant Garamond', serif;
  padding-top: 3px;
  background: #fff;
  -webkit-appearance: none;
  border-radius: 0;
}

.canvas {
  border: 1px solid #eee;
}

.destination img {
  display: block;
  background: #000;
  border: 1px solid #eee;
}

footer {
  text-align: center;
  padding: 0 0 40px;
}

footer a {
  color: blue;
}

footer address a {
  font-style: normal;
  text-decoration: none;
}

.examples {
  display: none;
}

/*spinner*/

body {
  position: relative;
}

.spinner-container {
  position: fixed;
  top: 0px;
  right: 0px;
  /*bottom: 0px;*/
  left: 0px;
  margin: 0 auto;
  width: 50px;
  height: 40px;
  visibility: hidden;
}

.spinner {
  margin: 0 auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #999;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
